<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Argon_Case_Study</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>utilities.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/JSPFrontPages/Admin/*</url-pattern>
    <url-pattern>/JSPFrontPages/Customer/*</url-pattern>
    <url-pattern>/JSPFrontPages/Operator/*</url-pattern>
    <url-pattern>/JSPFrontPages/Retailer/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterRetailerServlet</display-name>
    <servlet-name>RegisterRetailerServlet</servlet-name>
    <servlet-class>controller.RegisterRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterRetailerServlet</servlet-name>
    <url-pattern>/RegisterRetailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomerServlet</display-name>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <servlet-class>controller.RegisterCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomerServlet</servlet-name>
    <url-pattern>/registerCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRetailerServlet</display-name>
    <servlet-name>ViewRetailerServlet</servlet-name>
    <servlet-class>controller.ViewRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRetailerServlet</servlet-name>
    <url-pattern>/ViewRetailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOperatorsServlet</display-name>
    <servlet-name>ViewOperatorsServlet</servlet-name>
    <servlet-class>controller.ViewOperatorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOperatorsServlet</servlet-name>
    <url-pattern>/ViewOperators</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOperatorServlet</display-name>
    <servlet-name>EditOperatorServlet</servlet-name>
    <servlet-class>controller.EditOperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOperatorServlet</servlet-name>
    <url-pattern>/EditOperator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorServlet</display-name>
    <servlet-name>OperatorServlet</servlet-name>
    <servlet-class>controller.OperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorServlet</servlet-name>
    <url-pattern>/OperatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetailerServlet</display-name>
    <servlet-name>RetailerServlet</servlet-name>
    <servlet-class>controller.RetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetailerServlet</servlet-name>
    <url-pattern>/RetailerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>controller.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/updateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRetailerServlet</display-name>
    <servlet-name>UpdateRetailerServlet</servlet-name>
    <servlet-class>controller.UpdateRetailerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRetailerServlet</servlet-name>
    <url-pattern>/UpdateRetailer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>controller.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegCustByOperatorServlet</display-name>
    <servlet-name>RegCustByOperatorServlet</servlet-name>
    <servlet-class>controller.RegCustByOperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegCustByOperatorServlet</servlet-name>
    <url-pattern>/RegCustByOperatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCustomerBySelfServlet</display-name>
    <servlet-name>RegisterCustomerBySelfServlet</servlet-name>
    <servlet-class>controller.RegisterCustomerBySelfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCustomerBySelfServlet</servlet-name>
    <url-pattern>/RegisterCustomerBySelfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAssignServlet</display-name>
    <servlet-name>CustomerAssignServlet</servlet-name>
    <servlet-class>controller.CustomerAssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAssignServlet</servlet-name>
    <url-pattern>/CustomerAssignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAssignUpdateServlet</display-name>
    <servlet-name>CustomerAssignUpdateServlet</servlet-name>
    <servlet-class>controller.CustomerAssignUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAssignUpdateServlet</servlet-name>
    <url-pattern>/CustomerAssignUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatsServlet</display-name>
    <servlet-name>StatsServlet</servlet-name>
    <servlet-class>controller.StatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsServlet</servlet-name>
    <url-pattern>/StatsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatsPieServlet</display-name>
    <servlet-name>StatsPieServlet</servlet-name>
    <servlet-class>controller.StatsPieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsPieServlet</servlet-name>
    <url-pattern>/StatsPieServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>UpdateCustByOperator</display-name>
    <servlet-name>UpdateCustByOperator</servlet-name>
    <servlet-class>controller.UpdateCustByOperator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustByOperator</servlet-name>
    <url-pattern>/UpdateCustByOperator</url-pattern>
  </servlet-mapping>
</web-app>